set_io -nowarn -pullup yes -pullup_resistor 10K switches[0] 32
set_io -nowarn -pullup yes -pullup_resistor 10K switches[1] 35
set_io -nowarn -pullup yes -pullup_resistor 10K switches[2] 31
set_io -nowarn -pullup yes -pullup_resistor 10K switches[3] 37
set_io -nowarn leds[0] 42
set_io -nowarn leds[1] 38
set_io -nowarn leds[2] 28
set_io -nowarn seven_segment_leds[0] 20 # G
set_io -nowarn seven_segment_leds[1] 18 # F
set_io -nowarn seven_segment_leds[2] 9  # E
set_io -nowarn seven_segment_leds[3] 44 # D
set_io -nowarn seven_segment_leds[4] 3  # C
set_io -nowarn seven_segment_leds[5] 12 # B
set_io -nowarn seven_segment_leds[6] 13 # A